debug: false
version: @version@
build-time: @build-time@
server:
  shutdown: graceful
  port: 12300
  servlet:
    context-path: /accountmanager
spring:
  lifecycle:
    timeout-per-shutdown-phase: 10s
  application:
    name: account-manager
  jackson:
    default-property-inclusion: non_null
    property-naming-strategy: SNAKE_CASE
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      schema-locations:
        - classpath:db/init.sql
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:${am.file-path};DATABASE_TO_LOWER=TRUE
    username: root
    password: h2database
    hikari:
      connection-timeout: 2000
      maximum-pool-size: 2
      max-lifetime: 60000
---
#开发环境1，使用内存数据库
#debug: true
spring:
  config:
    activate:
      on-profile:
        - dev_mem
  datasource:
    url: jdbc:h2:mem:${am.file-path};DATABASE_TO_LOWER=TRUE
server:
  port: 12301
am:
  security-key: pq+Sjkd1We1wW44Yz4mN6Q==
  file-path: memDevDB
  enable-backup: false
logging:
  config: classpath:log4j2-spring-dev.xml
---
#开发环境2，使用文件数据库
#debug: true
spring:
  config:
    activate:
      on-profile:
        - dev_file
server:
  port: 12302
am:
  security-key: pq+Sjkd1We1wW44Yz4mN6Q==
  file-path: E:/Study/Test/fileDevDB
  enable-backup: true
  backup-paths: E:/Study/Test/fileDevBackupDB
  auto-access-after-startup: false
logging:
  config: classpath:log4j2-spring-dev.xml