<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/accountmanager/webjars/vuetify/dist/vuetify.min.css">
  <link rel="stylesheet" href="/accountmanager/webjars/fortawesome__fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="index.css">
  <title>账号管理器</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <script src="/accountmanager/webjars/vue/dist/vue.global.prod.js"></script>
  <script src="/accountmanager/webjars/axios/dist/axios.min.js"></script>
  <script src="/accountmanager/webjars/vuetify/dist/vuetify.min.js"></script>
</head>

<body>
  <v-app id="app">
    <v-container>
      <v-row>
        <v-col>
          <v-btn density="comfortable" @click="addDialog = true">新增账号</v-btn>
          <v-btn density="comfortable" @click="">导入</v-btn>
          <v-btn density="comfortable" @click="exportAccount">导出</v-btn>
        </v-col>
        <v-col>
          <v-text-field append-inner-icon="fa-solid fa-magnifying-glass" 
                        density="comfortable" 
                        label="搜索"
                        variant="underlined" 
                        v-model="fuzzyName" 
                        single-line 
                        @click:append-inner="loadItems">
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-data-table-server v-model:items-per-page="pageSize" 
                                      :items-per-page-options="pageSizeOptions"
                                      :items-per-page-text="pageSizeOptionsText" 
                                      :page="pageNumber" 
                                      :headers="headers" 
                                      :items="pageData"
                                      :items-length="totalRecords" 
                                      :loading="loading" 
                               @update:options="loadItems" 
                               @update:page="handlePageChange"
                               show-current-page="true" 
                               first-icon="fa-solid fa-angles-left" 
                               prev-icon="fa-solid fa-angle-left"
                               next-icon="fa-solid fa-angle-right" 
                               last-icon="fa-solid fa-angles-right">
          </v-data-table-server>
        </v-col>
      </v-row>

      <v-dialog v-model="addDialog" width="auto">
        <v-card max-height="600" width="500" title="新增账号">
          <v-form>
            <v-text-field label="名称" v-model="addAppName"></v-text-field>
            <v-text-field label="网址" v-model="addAppUrl"></v-text-field>
            <v-text-field label="账号" v-model="addUsername"></v-text-field>
            <v-text-field label="密码" 
                          v-model="addPassword"
                          append-inner-icon="fa-solid fa-shuffle"
                          @click:append-inner="addRandomPassword">
            </v-text-field>
            <v-text-field label="备注" v-model="addRemark"></v-text-field>
          </v-form>
          <v-card-actions>
            <v-btn @click="clearAddDialog">取消</v-btn>
            <v-btn color="green" @click="addAccount">提交</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-container>
  </v-app>

  <script src="index.js"></script>
</body>

</html>